.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  z-index: 22;
}

.cartItem {
  width: 100%;
  height: 200px;
  display: flex;
  background: #164864;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: 15px;

  /* 3d flip code */

  perspective: 1000px; /* Set the perspective */
  /* backface-visibility: hidden; */
  /* transform-style: preserve-3d; */
  /* transition: transform 0.5s; */
  /* transform: rotateX(180deg); */
  /* backface-visibility: hidden; */
}

/* .backFlip .cartItem {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  transform: rotateX(180deg);
} */

.cartItem .backDescription {
  /* Your styles for the back side of the card */
  /* transform: rotateY(180deg); */
}

.loginBtn {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 3.0599px 22.1843px;
gap: 7.65px;
width: 98px;
height: 28px;
background: #248CC5;
border-radius: 6.1198px;
z-index: 22;
font-weight: 600;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
letter-spacing: -0.244792px;
color: #FFFFFF;


}


.cartItem .imgWrapper {
  width: 120px;
  height: 48%;
  margin-bottom: 64px;
  background: #FAF5E4;
  border-radius: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cartItem img {
  position: absolute;
  width: 59px;
  z-index: 4;
}

.cartItem .splash {
  top: 7px;
  width: 124%;
  height: 100%;
  position: absolute;
  background-image: url("../../assets/product-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  rotate: 17deg;
  z-index: 3;
  right: -10px;
}

.btn {
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(180deg, #248CC5 0%, #164864 100%);
  border: none;
  color: #fff;
}





.description {
  
}

.description .lower {
  font-size: 16px;
  color: #FAF5E4;
  font-weight: 300;
  margin-top: 10px;
}

.description .lower svg {
  z-index: 20;
}

.description .lower svg:hover {
  cursor: pointer;
}

.description .lower span {
  font-weight: 700;
}

.description .lower p {
  position: relative;
}


.description .lower .rightArrow {
  position: absolute;
  right: 25px;
  top: 3px;
}

.description .upper {
  display: flex;
  border-bottom: solid 0.2px #ffffff30;
  margin-right: 10px;
  padding-bottom: 27px;
  justify-content: space-between;
}

.description .upper .leftContent p {
  margin-bottom: 8px;
  font-weight: 500;
  color: #FAF5E4;
  width: 123px;
}

.description .upper .rightContent {
  /* margin-top: 23px; */
  width: 39%;
  text-align: center;
}

.description .upper .rightContent > p {
  font-size: 12px;
  color: #FAF5E4;
  margin-bottom: 5px;
  padding-right: 20px;
}

.cartItem .description {
  position: relative;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
  width: 100%;
  /* font-size: 30px; */
  display: flex;
  justify-content: space-between;
}

.cartItem .description .leftContent {
  width: 26%%;
  height: 108px;
}

.cartItem .description .leftContent > p {
  margin-bottom: 13px;
}

.cartItem .description .leftContent .coffeeSize .coffeeSizeLabel {
  display: inline-grid;
  text-align: center;
  color: #FAF5E4;
  font-size: 12px;
  font-weight: 600;
}

.cartItem .description .leftContent .coffeeSize .coffeeSizeLabel .radioSize {
  transform: scale(2.0);
  margin: 10px;
  margin-top: 8px;
  
}

.cartItem .description .leftContent .coffeeSize > p {
  font-size: 12px;
  /* margin-bottom: -12px; */
}

.cartItem .description .middleContent {
 margin-top: 7px;
}

.cartItem .description .middleContent .itemExtras {
  display: inline-grid;
  gap: 2px;
  font-size: 12px;
  color: #FAF5E4;
  
}

.middleContent .itemExtras #extras {
  padding-left: 11px;
  font-size: 12px;
  width: 100px;
  height: 28px;
  background: #164864;
  border: 1px solid #FAF5E4;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FAF5E4;
  margin-bottom: 9px;
  margin-top: 6px;
}

.middleContent .itemExtras > label:first-child {
  background: #164864;
  width: 68px;
  padding-left: 6px;
  position: absolute;
  top: 2px;
  left: 158px;
 }

.middleContent .itemExtras #beans {
  padding-left: 11px;
  font-size: 12px;
  width: 100px;
  height: 28px;
  background: #164864;
  border: 1px solid #FAF5E4;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FAF5E4;
  margin-bottom: 9px;
  margin-top: 6px;
}

.middleContent .itemExtras > label:last-of-type {
  background: #164864;
  width: 68px;
  padding-left: 6px;
  position: absolute;
  top: 47px;
  left: 158px;
  color: #FAF5E4;
  font-size: 12px;
  
 }

.cartItem .description .middleContent .itemExtras select {
  height: 22px;
}

.countHandler {
  
  background: #248CC5;
  border-radius: 80px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 172px;
  position: relative;
}

.countHandler .btn {
  transform: scale(1.5);
  position: absolute;
}

.countHandler .btn span.minus {
  font-size: 40px;
  top: -7px; 
  position: absolute;
  right: 12px;
  color: #FAF5E4;
}

.countHandler .btn span.plus {
  font-size: 38px;
  top: -4px; 
  position: absolute;
  right: 8px;
  color: #FAF5E4;
}

.countHandler .btn:first-child {
  left: 17px;
}

.countHandler .btn:last-child {
  right: 17px;
}

.countHandler input {
  width: 28px;
  text-align: center;
  font-weight: bolder;
  background: transparent;
  border: none;
  color: #fff;
}

.checkout {
  height: 60px;
  position: sticky;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
  align-items: center;
  width: 600px;
  
  left: calc(50% - 570px / 2);
  background: #248CC5;
  border-radius: 10px 10px 0 0;

}

.activeCheckout {
  height: auto;

}

.checkout p {
  width: 170px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.checkout button {
  color: #FAF5E4;
  font-weight: 600;
  border: none;
  font-size: 23px;
  cursor: pointer;
  display: flex;
  /* Poruci dugme */

  padding: 8px 31px;
  width: 150px;
  height: 70%;
  background: #248CC5;
  border-radius: 6px;

  
}

/* back desription card */

.backDescription {
  width: 600px;
  height: 200px;
  display: flex;
  background: linear-gradient(180deg, #248CC5 0%, #164864 100%);
  align-items: center;
  border-radius: 12px;
  
  position: absolute;
  /* transform: rotateX(180deg); */
  /* transform-style: preserve-3d; */
}

.backDescription .flipDescription {
  margin-left: 139px;
  margin-top: 28px;
  margin-right: 40px;
  margin-bottom: 28px;
}

.backDescription .flipDescription .BackUpper .backContent p {
  color: #FAF5E4;
  font-size: 14px;
  text-align: justify;
  line-height: 15px;
}

.backDescription .flipDescription .BackUpper .backContent p:first-child {
  margin-bottom: 8px;
  font-weight: 500;
}

.backDescription .flipDescription .BackUpper .backContent p:last-child {
  font-weight: 300;
}


/* Responsive */

@media screen and (max-width: 640px) {

  .App .container {
    width: 105%;
  }

  .cart .cartContainer {
    width: 340px;
  }

  .checkout {
    height: 60px;
    position: sticky;
    bottom: 0;
    z-index: 20;
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    align-items: center;
    width: 340px;
    left: calc(50% - 337px / 2);
    background: #248CC5;
    border-radius: 10px 10px 0 0;
  }

  .checkout .checkoutBtn {
    width: 110px;
    position: relative;
  }

  .checkout .checkoutBtn span {
    position: absolute;
    right: 13px;
    top: 0;
  }

  .cartItem img {
    width: 50px;
  }

  .cartItem .imgWrapper {
    height: 40%;
    margin-bottom: 91px;
  }

  .cartItem .imgWrapper .splash {
    top: 13px;
  }
  
 .description .upper {
  position: relative;
  padding-bottom: 0px;
 }

 .leftContent .coffeeSize {
  position: absolute;
  top: 22px;
  left: 111px;
  display: flex;
  flex-direction: column;
  align-items: end;
 }

 .leftContent > p {
  margin-top: -8px;
  font-size: 14px;
 }

 .leftContent .coffeeSize p {
  display: none;
 }

 .cartItem .description .leftContent .coffeeSize .coffeeSizeLabel {
  align-items: center;
  display: flex;
 }
 .cartItem .description .leftContent .coffeeSize .coffeeSizeLabel input.radioSize {
  transform: scale(1.8);
 }

 .cartItem .splash {
  top: 24px;
 }

 .middleContent .itemExtras {
  position: absolute;
  top: 39px;
  left: 2px;
  
 }

 .middleContent .itemExtras > label:first-child {
  background: #164864;
  width: 68px;
  padding-left: 6px;
  position: absolute;
  top: -5px;
  left: 11px;
 }

 .middleContent .itemExtras > label:last-of-type {
  background: #164864;
  width: 68px;
  padding-left: 6px;
  position: absolute;
  top: 35px;
  left: 11px;
  color: #FAF5E4;
  font-size: 12px;
  
 }

.middleContent .itemExtras #extras {
  padding-left: 11px;
  font-size: 10px;
  width: 98px;
  height: 23px;
  background: #164864;
  border: 1px solid #FAF5E4;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FAF5E4;
  margin-bottom: 9px;
  margin-top: 6px;
}

.middleContent .itemExtras #beans {
  padding-left: 11px;
  font-size: 10px;
  width: 98px;
  height: 24px;
  background: #164864;
  border: 1px solid #FAF5E4;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FAF5E4;
}

 .countHandler {
  transform: scale(0.8);
  height: 123px;
  width: 51px;
 }
 .countHandler .btn {
  transform: scale(1.2);
  width: 34px;
  height: 34px;
 }

 .rightContent .countHandler .btn .minus {
  top: -11px;
  right: 9px;
 }

 .rightContent .countHandler .btn .plus {
  top: -8px;
  right: 6px;
 }

 .countHandler .btn:first-child {
  bottom: 11px;
  left: 8px;
 }

 .countHandler .btn:last-child {
  top: 11px;
  right: 8px;
 }

 .description .upper .rightContent {
  width: 21%;
 }

 .rightContent {
  width: 22%;
 }

 .rightContent p {
  display: none;
 }

 .lower {
  margin-top: 1px;
 }

 .lower svg {
  right: 12px;
  top: 2px;
  
 }

 .backDescription {
  width: 340px;
  height: 200px;
  display: flex;
  background: linear-gradient(180deg, #248CC5 0%, #164864 100%);
  align-items: center;
  border-radius: 12px;

 }

 .backDescription .flipDescription .BackUpper .backContent {
  margin-top: -10px;
 }

 .backDescription .flipDescription .BackUpper .backContent p:last-child {
  font-weight: 200;
  font-size: 11px;
  line-height: 13px;
 }

 .backDescription .flipDescription .BackUpper .backContent p:first-child {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  display: none;
 }

 .backDescription .flipDescription {
  margin-left: 110px;
  margin-top: 17px;
}

}